// Responsive Media Queries
@media screen and (max-width: 1100px) {
  .site-step {
    .step {
      .step-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .step-bottom-left {
          margin-bottom: 50px;
          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
        .step-bottom-right {
          img {
            margin-left: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .site-feedback {
    .feedback {
      .feedback-box {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: 60px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .site-header {
    .site-navbar {
      .site-nav {
        display: none;
      }
      .site-nav-reg {
        display: none;
      }
      .nav-mobile-menu {
        display: block;
        button {
          background-color: transparent;
          color: $white;
          border: none;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover,
          &:focus {
            color: #306ef7;
          }
          &:active {
            opacity: 0.8;
          }
        }
      }
    }
  }
  .site-step {
    .step {
      .step-top {
        p {
          width: auto;
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
  .site-step2 {
    .step2 {
      .step2-top {
        h2 {
          font-size: 45px;
          line-height: 72px;
        }
        p {
          width: auto;
          font-size: 20px;
          line-height: 25px;
        }
      }
      .step2-bottom {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
  }
  .site-creators {
    .creators {
      padding: 200px 10px;
    }
  }
}
@media screen and (max-width: 800px) {
  .site-hero {
    .hero {
      .hero-buttons {
        display: flex;
        flex-direction: column;
        .hero-btn-second {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }
  }
  .site-start {
    .start {
      h2 {
        font-size: 60px;
        line-height: 80px;
      }
      p {
        font-size: 23px;
        line-height: 44px;
      }
      .start-stat {
        .start-stat-dot {
          width: 15px;
          height: 15px;
        }
        span {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
  .site-footer {
    .footer {
      display: flex;
      flex-direction: column;
      .footer-right {
        margin-top: 30px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .site-step {
    .step {
      .step-top {
        h2 {
          font-size: 45px;
          line-height: 72px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .site-hero {
    .hero {
      .hero-title {
        h1 {
          font-size: 60px;
          line-height: 80px;
        }
      }
      .hero-text {
        p {
          font-size: 25px;
          line-height: 50px;
        }
      }
      .hero-stat {
        .hero-stat-dot {
          width: 15px;
          height: 15px;
        }
        span {
          font-size: 19px;
          line-height: 29px;
        }
      }
    }
  }
  .site-feedback {
    .feedback {
      h2 {
        font-size: 55px;
        line-height: 82px;
      }
    }
  }
  .site-step {
    .step {
      .step-top {
        h2 {
          font-size: 35px;
          line-height: 62px;
        }
      }
      .step-bottom {
        .step-bottom-left {
          h3 {
            width: auto;
            font-size: 50px;
            line-height: 80px;
          }
          ul {
            li {
              font-size: 13px;
              line-height: 13px;
            }
          }
        }
      }
    }
  }
  .site-step2 {
    .step2 {
      .step2-top {
        h2 {
          font-size: 35px;
          line-height: 62px;
        }
      }
    }
  }
  .site-start {
    .start {
      h2 {
        font-size: 50px;
        line-height: 70px;
      }
      p {
        font-size: 18px;
        line-height: 30px;
      }
      .start-stat {
        .start-stat-dot {
          width: 13px;
          height: 13px;
        }
        span {
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .site-step {
    .step {
      .step-bottom {
        .step-bottom-left {
          ul {
            li {
              font-size: 11px;
              line-height: 11px;
            }
          }
          .step-bottom-left-buttons {
            display: flex;
            flex-direction: column;
            .step-left-btn-second {
              margin-top: 20px;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  .site-start {
    .start {
      h2 {
        font-size: 40px;
        line-height: 60px;
      }
      p {
        font-size: 16px;
        line-height: 25px;
      }
      .start-stat {
        .start-stat-dot {
          width: 11px;
          height: 11px;
        }
        span {
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .site-hero {
    .hero {
      .hero-title {
        h1 {
          font-size: 45px;
          line-height: 65px;
        }
      }
      .hero-stat {
        .hero-stat-dot {
          width: 12px;
          height: 12px;
        }
        span {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  .site-feedback {
    .feedback {
      h2 {
        font-size: 45px;
        line-height: 72px;
      }
    }
  }
  .site-footer {
    .footer {
      .footer-right {
        ul {
          display: flex;
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }
}
@media screen and (max-height: 460px) {
  .overlay {
    a {
      font-size: 20px;
    }
    .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}
@media screen and (max-width: 400px) {
}
