// Experts
.site-experts {
  margin: 100px 0px;
  .experts {
    h2 {
      text-align: center;
      font-weight: 600;
      font-size: 55px;
      line-height: 82px;
      margin-top: 0;
      margin-bottom: 0;
    }
    img {
      margin-top: 50px;
    }
  }
}
